@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fredoka One', sans-serif;
    text-align: center;
    background-color: #07091A;
    color: white;
}

.body-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

.title-container {
    margin-top: 2px;
    margin-bottom: 25px;
}

.title {
    letter-spacing: 5px;
    font-size: 40pt;
}

.cell-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-items: center;
}

.cell {
    width: 100px;
    height: 100px;
    border: 4px solid #00FF7F;
    border-radius: 6px;
    margin: 2px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 62pt;
    justify-content: center;
    box-shadow: 0px 0px 13px #00C73F;
}

.winner {
    font-size: 3rem;
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(0 ,0 ,0, 0.8);
    display: block;
}

.btn-restart {
    width: 200px;
    height: 50px;
    font-size: 18pt;
    border-radius: 10px;
    margin: 5px;
    border: none;
    background-color: #00FF7F;
    font-family: 'Fredoka One', sans-serif;
    box-shadow: 0px 5px 0px #00A954;
}

.btn-restart:active {
    box-shadow: none;
    transform: translateY(5px);
}

.player-order {
    margin: 20px;
    font-size: 20pt;
}

.scoreboard-container {
    font-size: 30pt;
    justify-content: space-around;
    display: flex;
    margin-bottom: 27px;
}

.infor-score {
    font-size: 35pt;
}

.hide-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

xletter {
    text-shadow: 0px 4px #D20000;
    color: #FF1313;
    filter: drop-shadow(0 0 8px #B00000);
}

oletter {
    text-shadow: 0px 4px #0D0F8E;
    color: #0038D1;
    filter: drop-shadow(0 0 8px #0D0F8E);
}

a {
    color: #00FF7F;
}

@media screen and (max-width: 768px) {
    .body-container {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-top: 30px;
    }
    
    .title {
        font-size: 30pt;
    }
}
